.inicio{
    text-align: center;
    color: cadetblue;
}

.cabecera{
    color: brown;
    text-align: center;
    font-family: fantasy;
}

.parra1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:tomato;
}

.master1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    text-align: center;
}