.inicio{
    text-align: center;
    color: cadetblue;
}

.cabecera{
    color: darkorange;
    text-align: center;
    font-family: fantasy;
}

.parra1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:tomato;
}

.master1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    text-align: center;
}

.par2{
    color: crimson;
    text-align: center;
}

.verde{
    text-align: center;
    color: green;
<<<<<<< HEAD
}

.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d597ce;
    background: #39375b;
    padding: 10px;
    font-size: 25px;
}
=======
    background: lawngreen;
}

.footer{
    font-size: 30px;
    color: #dff6f0;
    background: #222831;
    text-align: center;
    padding: 10px 10px;
}
>>>>>>> footer
