.inicio{
    text-align: center;
    color: cadetblue;
}

.cabecera{
    color: violet;
    text-align: center;
    font-family: fantasy;
}

.parra1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:tomato;
}